@charset "utf-8";

/* 나눔바른고딕 */
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
	font-family: 'NanumBarunGothic', sans-serif;
   }

/* 어그로 */
@font-face {
	font-family: 'SBAggroB';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* container */ 
.container {
	width: 1300px; height: 900px;
	margin: 0 auto;
	font-family: 'NanumBarunGothic';
	font-weight: 200;	
}

/* layout */
.section2, .section3, .section4, .section5, .section6 {
	width: 100%; height: 100%;
	margin-top: 20%;
}
/* title */
.sec_title {
	position: absolute;
	top: 16%; left: 50%; transform: translateX(-50%);
}
.sec_title h3 {
	position: relative;
	text-align: center;
	font-family: 'SBAggroB';
	font-size: 49px;
	color: #3D509F;
}
.sec_title h3::before {
	content: '';
	width: 3px; height: 40px;
	background: #3D509F;
	position: absolute;
	top: -60px; left: 50%; transform: translateX(-50%);
	transform:rotate(20deg)
}

/* section1 */
#section1 .container {
	height: auto;
}

#section1 {
	position: relative;
	background: url(../img/section1_bg.jpg) no-repeat 50% 50% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.section1 { text-align: center; color: #fff; }

.logo {
	position: absolute;
	top: 3%; left: 50%; transform: translateX(-50%);
	width: 100px;
}
.logo a img { width: 100%; }

.mt_top {
	font-size: 29px;
	font-weight: 400;
}
.thehill_box {
	display: inline-block;
	width: 806px; height: 176px;
	border: 3px solid #fff;
	margin: 20px 0 100px 0 ;
}
.thehill_box .mt_center {
	font-family: 'SBAggroB';
	font-size: 110px;
	line-height: 190px;
}
.mt_bottom {
	font-family: 'NanumBarunGothic';
	font-size: 24px;
	line-height: 36px;
}

/* scroll */
.scroll-downs {
	position: absolute;
	right: 0; left: 0; bottom: 3%;
	margin: auto;
	width :34px;
	height: 55px;
  }
  .mousey {
	width: 3px;
	padding: 10px 15px;
	height: 35px;
	border: 2px solid #fff;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
  }
  .scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15,.41,.69,.94);
	animation-iteration-count: infinite;
  }
  @keyframes scroll {
	0% { opacity: 0; }
	10% { transform: translateY(0); opacity: 1; }
	100% { transform: translateY(15px); opacity: 0;}
  }

/* section2 */
.sec2_card_box { text-align: center; padding: 50px 0; }
.sec2_card {
	display: inline-block;
	width: 576px; height: 584px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 7px 17px #00000008;
}
.secCard1 {
	margin-right: 50px;
	/* FadeIn.js */
	opacity: 0;
	transform: translateY('100px');
	transition: 0.5s;
}
.secCard2 {
	/* FadeIn.js */
	opacity: 0;
	transform: translateY('100px');
	transition: 0.8s;
}
.sec2_img {
	width: 100%; height: 300px;
	background: #999;
}
.sec2_text {
	padding: 50px 0;
}
.sec2_text h4 {
	font-size: 30px;
	font-weight: 800;
	color: #3D509F;
}
.sec2_text p {
	font-size: 17px;
	line-height: 24px;
	margin-top: 20px;
}
.sec2_card_box a {
	position: relative;
	display: inline-block;
	width: 154px; height: 46px;
	border-radius: 23px;
	background: #3D509F;
}
.sec2_card_box a::before {
	content: '';
	width: 500px; height: 1.5px;
	position: absolute;
	top: -25px; left: 50%; transform: translateX(-50%);
	background: #DDDDE0;
}
.sec2_card_box span {
	font-size: 17px;
	font-weight: 400;
	line-height: 46px;
	color: #fff;
}
/* btn hover */
.sec2_card_box a:hover {
	background: #5569b9;
	transition: all 0.5s;
}
.sec2_card_box a:hover span {
	font-size: 18px;
	transition: all 0.5s;
}


/* section3 */
.section3 .sec_title h3 { color: #fff; }
.section3 .sec_title h3::before { background: #fff; }

.sec3_text {
	text-align: center;
	color: #fff;
}
.sec3_text h4 {
	font-size: 44px;
}
.sec3_text p {
	margin-top: 15px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 200;
}
.sec3_card_box {
	position: relative;
	text-align: center;
	padding-top: 100px;
	margin: 0px 30px;
	color: #fff;
}
.sec3_card {
	position: absolute;
	width: 260px; height: 320px;
	border: 13px solid #fff;
	box-shadow: 0px 7px 17px #00000008;
}
.sec3_card1 {
	/* FadeIn.js */
	opacity: 0;
	top: 200px;
	transition: 0.5s;
}
.sec3_card2 {
	left: 320px;
	/* FadeIn.js */
	opacity: 0;
	top: 300px;
	transition: 0.6s;
}
.sec3_card3 {
	left: 640px;
	/* FadeIn.js */
	opacity: 0;
	top: 400px;
	transition: 0.7s;
}
.sec3_card4 {
	left: 960px;
	/* FadeIn.js */
	opacity: 0;
	top: 500px;
	transition: 0.8s;
}

.Msec3_card1 { display: none; }
.Msec3_card2 { display: none; }
.Msec3_card3 { display: none; }
.Msec3_card4 { display: none; }

.M2sec3_card1 { display: none; }
.M2sec3_card2 { display: none; }
.M2sec3_card3 { display: none; }
.M2sec3_card4 { display: none; }

.sec3_img {
	width: 100%; height: 100%;
}
.sec3_img1 { background: url(../img/section3_01.png); background-size: cover; }
.sec3_img2 { background: url(../img/section3_02.png); background-size: cover; }
.sec3_img3 { background: url(../img/section3_03.png); background-size: cover; }
.sec3_img4 { background: url(../img/section3_04.png); background-size: cover; }

.sec3_card h6 {
	position: absolute;
	left: 50%; transform: translateX(-50%);
	bottom: -60px; width: 100%;
	font-size: 24px;
	font-weight: 200;
	color: #fff;
}
.sec3_card .fas {
	margin-right: 12px;
}


/* section4 */
.sec4_text {
	float: left;
	width: 40%;
	padding: 50px 0;
	color: #3D509F;
}
.sec4_text i {
	font-size: 50px;
}
.sec4_text h5 {
	font-size: 40px;
	margin: 25px 0 40px 0;
	font-weight: 600;
	line-height: 55px;
}
.sec4_text p {
	font-size: 24px;
	line-height: 35px;
	font-weight: 400;
}

.sec4_card_box {
	position: relative;
	float: right;
	width: 52%;  height: 100%;
	color: #3D509F;
}
.sec4_card {
	position: absolute;
	width: 220px; height: 220px;
	padding: 40px;
	border-radius: 0 60px 0 0;
	background: #fff;
	box-shadow: 0px 7px 17px #00000008;
}

.Msec4_card1 { display: none; }
.Msec4_card2 { display: none; }
.Msec4_card3 { display: none; }
.Msec4_card4 { display: none; }

.M2sec4_card1 { display: none; }
.M2sec4_card2 { display: none; }
.M2sec4_card3 { display: none; }
.M2sec4_card4 { display: none; }

.sec4_card1 {
	left: 0;
	/* FadeIn.js */
	opacity: 0;
	top: 300px;
	transition: 0.5s;
}
.sec4_card2 { 
	left: 370px;
	/* FadeIn.js */
	opacity: 0;
	top: 500px;
	transition: 0.6s;
}
.sec4_card3 {
	left: 0;
	/* FadeIn.js */
	opacity: 0;
	top: 700px;
	transition: 0.7s;
}
.sec4_card4 { 
	left: 370px;
	/* FadeIn.js */
	opacity: 0;
	top: 800px;
	transition: 0.8s;
}

.sec4_card h6 {
	position: relative;
	margin-top: 80px;
	font-size: 30px;
	font-weight: 600;
}
.sec4_card h6::before {
	position: absolute;
	margin-top: -70px;
	font-size: 45px;
}
.h6_01::before { content: '1'; }
.h6_02::before { content: '2'; }
.h6_03::before { content: '3'; }
.h6_04::before { content: '4'; }

.sec4_card span {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	margin: 6px 0 30px 0;
}
.sec4_card p {
	position: relative;
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
}
.sec4_card p::before {
	content: '';
	width: 100%; height: 1.5px;
	position: absolute;
	top: -15px; right: 0;
	background: #3D509F;
}


/* section5 */
.sec5_text {
	text-align: center;
	color: #3D509F;
}
.sec5_text p {
	margin-top: 15px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 200;
}
.sec5_text span {
	font-weight: 600;
}
.sec5_card_box {
	position: relative;
	text-align: center;
	padding-top: 100px;
	margin: 0px 26px;
	color: #fff;
}
.sec5_card {
	position: absolute;
	width: 287px; height: 386px;
	border-radius: 14px;
	background: #3D509F;
	box-shadow: 0px 7px 17px #00000008;
}

.Msec5_card1 { display: none; }
.Msec5_card2 { display: none; }
.Msec5_card3 { display: none; }
.Msec5_card4 { display: none; }

.M2sec5_card1 { display: none; }
.M2sec5_card2 { display: none; }
.M2sec5_card3 { display: none; }
.M2sec5_card4 { display: none; }

.sec5_card1 {
	/* FadeIn.js */
	opacity: 0;
	top: 200px;
	transition: 0.5s;
}
.sec5_card2 {
	left: 320px;
	/* FadeIn.js */
	opacity: 0;
	top: 300px;
	transition: 0.6s;
}
.sec5_card3 {
	left: 640px;
	/* FadeIn.js */
	opacity: 0;
	top: 400px;
	transition: 0.7s;
}
.sec5_card4 {
	left: 960px;
	/* FadeIn.js */
	opacity: 0;
	top: 500px;
	transition: 0.8s;
}
.icon_box {
	position: absolute;
	top: 57px; left: 50%; transform: translateX(-50%);
	width: 150px; height: 150px;
	border-radius: 50%;
	background: #fff;
}
.icon_box i {
	font-size: 70px;
	line-height: 150px;
	color: #3D509F;
}
.sec5_card h6 {
	display: inline-block;
	margin-top: 250px;
	font-size: 24px;
	font-weight: 600;
}
.sec5_card p {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 200;
	line-height: 23px;
}


/* section6 */
.section6 .sec_title h3 { color: #fff; }
.section6 .sec_title h3::before { background: #fff; }

.recruit_bg {
	position: absolute;
	top: 25%;
	width: 100%; height: 590px;
	background: url(../img/section6_bg.png);
	background-size: cover;
}
.recruit { height: 590px; }
.sec6_text {
	float: left;
	width: 40%;
	color: #fff;
	padding: 50px 0;
	position: fixed;
}
.sec6_text i {
	font-size: 50px;
}
.sec6_text h5 {
	font-size: 40px;
	margin: 25px 0 40px 0;
	font-weight: 600;
	line-height: 55px;
}
.sec6_text a {
	position: relative;
	display: inline-block;
	width: 154px; height: 46px;
	border-radius: 23px;
	text-align: center;
	background: #3D509F;
}
.sec6_text span {
	font-size: 17px;
	font-weight: 400;
	line-height: 46px;
	color: #fff;
}
/* btn hover */
.sec6_text a:hover {
	background: #5569b9;
	transition: all 0.5s;
}
.sec6_text a:hover span {
	font-size: 18px;
	transition: all 0.5s;
}
.sec6_card_box {
	position: relative;
	float: right;
	width: 54%; height: 100%;
	padding: 50px 0;
}
.sec6_card {
	position: absolute;
	width: 250px; height: 110px;
	border: 1px solid #fff;
	padding: 80px 40px 40px 40px;
	color: #fff;
}

.sec6_card1 {
	left: 0;
	/* FadeIn.js */
	top: 300px;
	opacity: 0;
	transition: 0.5s;
}
.sec6_card2 { 
	left: 360px;
	/* FadeIn.js */
	opacity: 0;
	top: 500px;
	transition: 0.6s;
}
.sec6_card3 {
	left: 0;
	/* FadeIn.js */
	opacity: 0;
	top: 700px;
	transition: 0.7s;
}
.sec6_card4 { 
	left: 360px;
	/* FadeIn.js */
	opacity: 0;
	top: 800px;
	transition: 0.8s;
}
.sec6_card h6 {
	font-size: 30px;
	font-weight: 600;
	line-height: 50px;
}
.sec6_card h6::before {
	content: '';
	width: 28px; height: 5px;
	background: #3D509F;
	position: absolute;
	top: 40px;
}
.sec6_card p {
	font-size: 19px;
	font-weight: 400;
	margin-top: 17px;
	line-height: 28px;
}

/* footer */
.footer {
	clear: both;
	position: absolute;
	left: 50%; transform: translateX(-50%);
	width: 100%;
	text-align: center;
	color: #BDBDBD;
	padding: 100px 0;
}

.f_logo {
	display: inline-block;
	width: 189.57px;
}

.copy {
	position: relative;
	display: inline-block;
	font-size: 13px;
	margin-left: 200px;
}
.copy ul li {
	position: relative;
	display: inline-block;
	margin-right: 30px;
}
.copy ul li::before {
	content: '·';
	color: #BDBDBD;
	position: absolute;
	left: -20px; top: -1px;
}
.copy ul li.cf_non::before {
	content: none;
}
.copy ul li a {
	color: #BDBDBD;
}
.copy p {
	margin-top: 30px;
	line-height: 20px;
	letter-spacing: 0.5px;
}
.copy span {
	color: #fff;
	font-weight: 600;
}
.copy::before {
	content: '';
	width: 1px; height: 134px;
	background: #BDBDBD;
	position: absolute;
	left: -100px; top: -10px;
}


/* 화면 너비 0 ~ 480px */
@media (max-width: 480px){
	.container {
		width: 100%; height: 500px;
	}

	/* title */
	.sec_title { top: 13%; }
	.sec_title h3 { font-size: 30px; }
	.sec_title h3::before {
		content: '';
		width: 2.5px; height: 30px;
		top: -42px;
	}

	/* section1 */
	.logo { width: 70px; }
	.mt_top { font-size: 16px; }
	.thehill_box {
		width: 300px; height: 100px;
		border: 1.5px solid #fff;
		margin: 16px 0 28px 0 ;
	}
	.thehill_box .mt_center {
		font-size: 45px;
		line-height: 110px;
	}
	.mt_bottom {
		font-size: 14px;
		line-height: 20px;
	}
	/* scroll */
	.scroll-downs { bottom: 1%; }
	.mousey {
		padding: 3px 12px;
		height: 35px;
		border: 1.5px solid #fff;
	}

	/* section2 */
	.sec2_card_box {
		width: 200px; margin: 0 auto;
		padding: 16px 0;
	}
	.sec2_card {
		display: block;
		width: 200px; height: 220px;
	}
	.secCard1 {
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.sec2_img { height: 100px; }
	.sec2_text { padding: 10px 0; }
	.sec2_text h4 { font-size: 18px; }
	.sec2_text p {
		font-size: 12px;
		line-height: 16px;
		margin-top: 8px;
	}
	.sec2_card_box a {
		width: 100px; height: 25px;
	}
	.sec2_card_box a::before {
		display: none;
	}
	.sec2_card_box span {
		font-size: 12px;
		line-height: 26px;
	}

	/* section3 */
	.sec3_text h4 { font-size: 20px; }
	.sec3_text p {
		margin-top: 10px;
		font-size: 14px;
		line-height: 20px;
		padding: 0 40px;
		word-wrap: break-word;
	}
	.sec3_text p br {
		display: none;
	}
	.sec3_card_box {
		width: 300px;
		height: 100%;
		padding-top: 0px;
		margin: 20px auto;
	}
	.sec3_card {
		width: 130px; height: 160px;
		border: 6px solid #fff;
	}
	.sec3_card1 { display: none; }
	.sec3_card2 { display: none; }
	.sec3_card3 { display: none; }
	.sec3_card4 { display: none; }
	
	.M2sec3_card1 { display: none; }
	.M2sec3_card2 { display: none; }
	.M2sec3_card3 { display: none; }
	.M2sec3_card4 { display: none; }

	.Msec3_card1 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.5s;
	}
	.Msec3_card2 {
		display: block;
		left: 160px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.6s;
	}
	.Msec3_card3 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 410px;
		transition: 0.7s;
	}
	.Msec3_card4 {
		display: block;
		left: 160px;
		/* FadeIn.js */
		opacity: 0;
		top: 410px;
		transition: 0.8s;
	}

	.sec3_card h6 {
		bottom: -26px;
		font-size: 13px;
	}
	.sec3_card .fas {
		margin-right: 6px;
	}

	/* section4 */
	.sec4_text {
		float: none;
		width: 100%;
		padding: 0px 0;
		text-align: center;
	}
	.sec4_text i {
		display: none;
	}
	.sec4_text h5 {
		font-size: 20px;
		margin: 0px 0 0px 0;
		font-weight: 600;
		line-height: 55px;
	}
	.sec4_text h5 br { display: none; }
	.sec4_text p br { display: none; }
	.sec4_text p {
		margin-top: 0px;
		font-size: 14px;
		line-height: 20px;
		padding: 0 40px;
		word-wrap: break-word;
	}
	.sec4_card_box {
		float: none;
		width: 310px;
		padding-top: 24px;
		margin: 20px auto;
	}
	.sec4_card {
		position: absolute;
		width: 130px; height: 130px;
		padding: 10px;
		border-radius: 0 40px 0 0;
	}

	.sec4_card1 { display: none; }
	.sec4_card2 { display: none; }
	.sec4_card3 { display: none; }
	.sec4_card4 { display: none; }

	.M2sec4_card1 { display: none; }
	.M2sec4_card2 { display: none; }
	.M2sec4_card3 { display: none; }
	.M2sec4_card4 { display: none; }

	.Msec4_card1 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.5s;
	}
	.Msec4_card2 {
		display: block;
		left: 160px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.6s;
	}
	.Msec4_card3 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 400px;
		transition: 0.7s;
	}
	.Msec4_card4 {
		display: block;
		left: 160px;
		/* FadeIn.js */
		opacity: 0;
		top: 400px;
		transition: 0.8s;
	}

	.sec4_card h6 {
		margin-top: 50px;
		font-size: 20px;
		font-weight: 600;
	}
	.sec4_card h6::before {
		margin-top: -45px;
		margin-left: 3px;
		font-size: 30px;
	}
	.sec4_card span {
		font-size: 12px;
		font-weight: 600;
		margin: 4px 0 6px 0;
	}
	.sec4_card p {
		font-size: 11px;
		line-height: 14px;
		font-weight: 400;

	}
	.sec4_card p br { display: none; }
	.sec4_card p::before { display: none; }


	/* section5 */
	.sec5_text p {
		margin-top: 20px;
		font-size: 18px;
		line-height: 20px;
		padding: 0 40px;
		word-wrap: break-word;
	}	
	.sec5_text p br {
		display: none;
	}
	.sec5_text span {
		font-weight: 600;
	}
	.sec5_card_box {
		padding-top: 0px;
		padding-right: 10px;
		width: 300px;
		margin: 30px auto;
	}
	.sec5_card { width: 140px; height: 180px; }

	.sec5_card1 { display: none; }
	.sec5_card2 { display: none; }
	.sec5_card3 { display: none; }
	.sec5_card4 { display: none; }

	.M2sec5_card1 { display: none; }
	.M2sec5_card2 { display: none; }
	.M2sec5_card3 { display: none; }
	.M2sec5_card4 { display: none; }

	.Msec5_card1 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.5s;
	}
	.Msec5_card2 {
		display: block;
		left: 160px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.6s;
	}
	.Msec5_card3 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 410px;
		transition: 0.7s;
	}
	.Msec5_card4 {
		display: block;
		left: 160px;
		/* FadeIn.js */
		opacity: 0;
		top: 410px;
		transition: 0.8s;
	}
	.icon_box {
		top: 16px;
		width: 70px; height: 70px;
	}
	.icon_box i {
		font-size: 30px;
		line-height: 70px;
	}
	.sec5_card h6 {
		margin-top: 100px;
		font-size: 14px;
		font-weight: 400;
	}
	.sec5_card p br {
		display: none;
	}
	.sec5_card p {
		margin-top: 2px;
		font-size: 12px;
		line-height: 16px;
		padding: 0 10px;
	}

	/* section6 */
	.recruit_bg {
		position: absolute;
		top: 22%; height: 400px;
	}
	.recruit { height: 400px; }

	.sec6_text {
		float: none;
		width: 100%;
		padding: 100px 20;
		text-align: center;
	}
	.sec6_text i {
		font-size: 50px;
	}
	.sec6_text h5 {
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		padding: 10px 60px;
	}
	.sec6_text a {
		width: 130px; height: 40px;
	}
	.sec6_text span {
		font-size: 14px;
		line-height: 40px;
	}
	.sec6_card1 { display: none; }
	.sec6_card2 { display: none; }
	.sec6_card3 { display: none; }
	.sec6_card4 { display: none; }
	
	/* footer */
	.footer {
		padding: 0px 0;
		margin-top: 30px;
	}
	.f_logo { display: none; }

	.copy {
		display: inline-block;
		font-size: 12px;
		margin-left: 0px;
	}
	.copy ul li { margin-right: 10px; }
	.copy ul li::before { display: none; }
	.copy ul li.cf_non::before { display: none; }
	.copy p {
		margin-top: 10px;
		line-height: 16px;
		font-size: 10px;
	}
	.copy span { font-weight: 400; }
	.copy::before { display: none; }
}



/* 화면 너비 0 ~ 380px */
@media (max-width: 380px){
	.container { width: 100%; height: 380px; }

	/* title */
	.sec_title { top: 13%; }
	.sec_title h3 { font-size: 20px; }
	.sec_title h3::before {
		content: '';
		width: 2px; height: 20px;
		top: -30px;
	}

	/* section1 */
	.logo { width: 50px; }
	.mt_top { font-size: 14px; }
	.thehill_box {
		width: 220px; height: 80px;
		border: 1px solid #fff;
		margin: 14px 0 30px 0 ;
	}
	.thehill_box .mt_center {
		font-size: 30px;
		line-height: 87px;
	}
	.mt_bottom {
		font-size: 10px;
		line-height: 16px;
	}
	/* scroll */
	.scroll-downs { bottom: 1%; }
	.mousey {
		padding: 0px 10px;
		height: 35px;
		border: 1px solid #fff;
	}

	/* section2 */
	.sec2_card_box {
		width: 160px; margin: 0 auto;
		padding: 0 0;
	}
	.sec2_card {
		display: block;
		width: 160px; height: 180px;
	}
	.secCard1 {
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.sec2_img { height: 80px; }
	.sec2_text { padding: 8px 0; }
	.sec2_text h4 { font-size: 14px; }
	.sec2_text p {
		font-size: 10px;
		line-height: 14px;
		margin-top: 3px;
	}
	.sec2_card_box a {
		width: 70px; height: 20px;
	}
	.sec2_card_box span {
		font-size: 9px;
		line-height: 10px;
	}

	/* section3 */
	.sec3_text h4 { font-size: 18px; }
	.sec3_text p {
		font-size: 10px;
		line-height: 14px;
		padding: 0 50px;
	}
	.sec3_card_box {
		width: 250px;
		height: 100%;
		padding-top: 0px;
		margin: 20px auto;
	}
	.sec3_card {
		width: 100px; height: 120px;
	}

	.sec3_card1 { display: none; }
	.sec3_card2 { display: none; }
	.sec3_card3 { display: none; }
	.sec3_card4 { display: none; }

	.Msec3_card1 { display: none; }
	.Msec3_card2 { display: none; }
	.Msec3_card3 { display: none; }
	.Msec3_card4 { display: none; }
	
	.M2sec3_card1 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.5s;
	}
	.M2sec3_card2 {
		display: block;
		left: 130px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.6s;
	}
	.M2sec3_card3 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 365px;
		transition: 0.7s;
	}
	.M2sec3_card4 {
		display: block;
		left: 130px;
		/* FadeIn.js */
		opacity: 0;
		top: 365px;
		transition: 0.8s;
	}
	.sec3_card h6 {
		bottom: -24px;
		font-size: 10px;
	}

	/* section4 */
	.sec4_text h5 {
		font-size: 14px;
		line-height: 24px;
	}
	.sec4_text p {
		margin-top: 0px;
		font-size: 11px;
		line-height: 16px;
		padding: 8px 40px;
	}
	.sec4_card_box {
		width: 260px;
		padding-top: 24px;
		margin: 20px auto;
	}
	.sec4_card {
		position: absolute;
		width: 100px; height: 100px;
		padding: 10px;
		border-radius: 0 20px 0 0;
	}
	
	.sec4_card1 { display: none; }
	.sec4_card2 { display: none; }
	.sec4_card3 { display: none; }
	.sec4_card4 { display: none; }
	
	.Msec4_card1 { display: none; }
	.Msec4_card2 { display: none; }
	.Msec4_card3 { display: none; }
	.Msec4_card4 { display: none; }

	.M2sec4_card1 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.5s;
	}
	.M2sec4_card2 {
		display: block;
		left: 130px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.6s;
	}
	.M2sec4_card3 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 330px;
		transition: 0.7s;
	}
	.M2sec4_card4 {
		display: block;
		left: 130px;
		/* FadeIn.js */
		opacity: 0;
		top: 330px;
		transition: 0.8s;
	}

	.sec4_card h6 {
		margin-top: 25px;
		font-size: 14px;
		font-weight: 600;
	}
	.sec4_card h6::before {
		margin-top: -26px;
		margin-left: 3px;
		font-size: 18px;
	}
	.sec4_card span {
		font-size: 10px;
		font-weight: 600;
		margin: 0px 0 6px 0;
	}
	.sec4_card p {
		font-size: 9px;
		line-height: 12px;
		font-weight: 200;
	}


	/* section5 */
	.sec5_text p {
		font-size: 12px;
		line-height: 16px;
		padding: 0 28px;
	}
	.sec5_card_box {
		padding-top: 0px;
		padding-right: 10px;
		width: 240px;
		margin: 30px auto;
	}
	.sec5_card { width: 115px; height: 150px; }

	.sec5_card1 { display: none; }
	.sec5_card2 { display: none; }
	.sec5_card3 { display: none; }
	.sec5_card4 { display: none; }

	.Msec5_card1 { display: none; }
	.Msec5_card2 { display: none; }
	.Msec5_card3 { display: none; }
	.Msec5_card4 { display: none; }

	.M2sec5_card1 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.5s;
	}
	.M2sec5_card2 {
		display: block;
		left: 130px;
		/* FadeIn.js */
		opacity: 0;
		top: 200px;
		transition: 0.6s;
	}
	.M2sec5_card3 {
		display: block;
		left: 0px;
		/* FadeIn.js */
		opacity: 0;
		top: 365px;
		transition: 0.7s;
	}
	.M2sec5_card4 {
		display: block;
		left: 130px;
		/* FadeIn.js */
		opacity: 0;
		top: 365px;
		transition: 0.8s;
	}
	.icon_box {
		top: 16px;
		width: 50px; height: 50px;
	}
	.icon_box i {
		font-size: 22px;
		line-height: 50px;
	}
	.sec5_card h6 {
		margin-top: 80px;
		font-size: 12px;
		font-weight: 400;
	}
	.sec5_card p {
		margin-top: 2px;
		font-size: 9px;
		line-height: 14px;
		padding: 0 8px;
	}

	/* section6 */
	.recruit_bg {
		position: absolute;
		top: 22%; height: 260px;
	}
	.recruit { height: 260px; }

	.sec6_text {
		float: none;
		width: 100%;
		padding: 30px 0;
		text-align: center;
	}
	.sec6_text i {
		font-size: 40px;
	}
	.sec6_text h5 {
		font-size: 20px;
		line-height: 30px;
		padding: 0px 30px;
		margin: 20px 0 20px 0;
	}
	.sec6_text a {
		width: 100px; height: 30px;
	}
	.sec6_text span {
		font-size: 10px;
		line-height: 30px;
	}

	/* footer */
	.copy { font-size: 10px; }
	.copy ul li { margin-right: 6px; }
	.copy ul li:nth-child(5) { display: none; }
	.copy p br { display: none; }
	.copy p {
		margin-top: 10px;
		line-height: 14px;
		font-size: 10px;
	}
}