@charset "utf-8";

/* 나눔스퀘어 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* 
	@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	}
*/

/* 어그로 */
@font-face {
	font-family: 'SBAggroB';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 지마켓 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* layout */
/* #section1 {background: #1a1a1a; height: 4070px; position: relative;}
#section1 .motion{width: 100%; height: 2070px; background: #fff; border-bottom: 1px solid rgba(4, 4, 4, 0.2);}
#section1 .motion2 {display: none;}
#section2 {height: 1328px; background: #fff;}
#section3 {height: 4630px; border-bottom: 1px solid #ababab; background: #1a1a1a;}
#section4 {}
#section5 {background: #000;}
#section6 {height: 780px; background: #fff;}
#footer {background: #fff;} */

/* container */
/* .container {width: 87%; margin-left: 8%; margin-right: 5%;}
#section2 .container {padding: 240px 0;}
#section3 .container {width: 100%; height: 100%; margin: 0;}
#section4 .container {width: 100%; height: 100%; margin: 0;}
#section5 .container {width: 100%; margin: 0; top: 0;}
#section6 .container {height: 100%;}
#footer .container {padding: 0 0 9% 3%;} */
